.bodyForm {
  background-image: url("https://images.alphacoders.com/235/235203.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 120%;
  position: absolute;
}

.form {
  padding-top: 20px;
  font-weight: 200;
  font-size: 15px;
  display: inline-block;
  border-radius: 7px;
  background-color: #f8f7f7;
  padding: 20px 40px 20px 40px;
}

.inputItem {
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 7px;
  border: none;
  background-color: #ebe6e6;
}

.inputs:focus {
  outline: none;
}

.select {
  margin-top: 5px;
  padding-left: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: #f8f7f7;
}

.select:focus {
  outline: none;
}

.deleteButton {
  border-radius: 20px;
  border: none;
  padding: 3px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

.submit {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: #1c3651;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-top: 5px;
}
.submit:hover {
  background-color: #001028;
}
.Errors {
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
  color: red;
}
.NavLinkContainer {
  display: flex;
  justify-content: left;
}
.NavLinkForm {
  cursor: pointer;
  font-size: 12px;
  padding: 5px 9px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  background-color: #1c3651;
  color: #fff;
}
.NavLinkForm:hover {
  background-color: #001028;
}
.pForm {
  display: inline-block;
}
