@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.titleLandingPage {
  color: #000408;
  margin: 40px;
  font-size: 60px;
}
.bodyLandingPage {
  background-color: #173c61;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
}
.btnLandingPage {
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  padding: 1.4em 1.9em;
  background-color: #011830;
}
.btnLandingPage:hover {
  transition: all 0.2s;
  background-color: #145da5;
}
.titleContainer {
  display: flex;
  justify-content: left;
  padding-left: 3%;
  
}
.linkContainer {
  margin: 30px;
}
.img {
  margin: 15px;
  margin-right: 20px;
  border-radius: 90px;
  margin-bottom: -15px;
}
.p{
  font-size: 28px;
font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 1220px) {
  .img{
    display: none;
  }
}

@media (min-height: 822px) {
 img{
  height:50em;
  padding-left: -150px;
 }
 p{
  font-size: 40px;
 }
.titleLandingPage{
  font-size: 90px;
 }
}